<header class="head">
  <nav class="head-nav">
    <div class="logo">
      <p class="logoText">NextBook</p>
    </div>
    <div class="bar">
      <i class="fa-solid fa-bars hidden"></i>
      <ul class="nav-items">
        <li><a href="/">Home</a></li>
        <li>
          All Categories <i class="fa-solid fa-angle-down"></i>
          <div class="sub-menu">
            <ul>
              <li>Novel</li>
              <li>Fiction</li>
              <li>Self help</li>
            </ul>
          </div>
        </li>
        <li><a href="./books/addNew">Add new</a></li>
        <li>
          <a href="./books">All books</a>
        </li>
        <li>
          <a href="./books/howItWorks">How it works</a>
        </li>

        <button class="btn">Log in</button>
      </ul>
    </div>
  </nav>
</header>
