<header class="head">
  <nav class="head-nav">
    <div class="logo">
      <p class="logoText">NextBook</p>
    </div>
    <div>
      <ul class="nav-items">
        <li><a href="/">Home</a></li>
        <li><a href="addNew">Add new</a></li>
        <li>
          <a href="/books">All books</a>
        </li>
        <li><a href="howItWorks">How it works</a></li>
      </ul>
    </div>
  </nav>
</header>
