<html lang="en">
  <%- include('includes/head',{title:'Home | NextBook'})%>
  <body>
    <section class="mainContainer">
      <header class="head">
        <nav class="head-nav">
          <div class="logo">
            <p class="logoText">NextBook</p>
          </div>
          <div class="bar">
            <i class="fa-solid fa-bars hidden"></i>
            <ul class="nav-items">
              <li><a href="/">Home</a></li>
              <li>
                All Categories <i class="fa-solid fa-angle-down"></i>
                <div class="sub-menu">
                  <ul>
                    <li>Novel</li>
                    <li>Fiction</li>
                    <li>Self help</li>
                  </ul>
                </div>
              </li>
              <li><a href="./books/addNew.ejs">Add new</a></li>
              <li>
                <a href="pages/howItWorks.html">How it works</a>
              </li>

              <button class="btn">Log in</button>
            </ul>
          </div>
        </nav>
      </header>
      <!-----------Suggested Books-------->

      <section class="main">
        <div class="type-container">
          <div class="container">
            <div class="imageContainer">
              <img
                src="/Images/atomichabits.jpg"
                alt="Book Name"
                class="image"
              />
            </div>
            <span class="pages">Pages: 400</span>
            <span class="tags">Tags</span>
            <p class="review">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem,
              perferendis?
            </p>
            <span class="ratings">ratings</span>
          </div>
          <span class="type">type</span>
        </div>
        <div class="type-container">
          <div class="container">
            <div class="imageContainer">
              <img
                src="/Images/atomichabits.jpg"
                alt="Book Name"
                class="image"
              />
            </div>
            <span class="pages">Pages: 400</span>
            <span class="tags">Tags</span>
            <p class="review">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem,
              perferendis?
            </p>
            <span class="ratings">ratings</span>
          </div>
          <span class="type">type</span>
        </div>
        <div class="type-container">
          <div class="container">
            <div class="imageContainer">
              <img
                src="/Images/atomichabits.jpg"
                alt="Book Name"
                class="image"
              />
            </div>
            <span class="pages">Pages: 400</span>
            <span class="tags">Tags</span>
            <p class="review">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem,
              perferendis?
            </p>
            <span class="ratings">ratings</span>
          </div>
          <span class="type">type</span>
        </div>
      </section>
      <!----- Footer ------->
      <footer>
        <div class="footer">
          <p class="copyright">Copyright...</p>
        </div>
      </footer>
    </section>
  </body>
</html>
