<html lang="en">
  <%- include('../includes/head',{title:'How It Works | NextBook'})%>
  <body>
    <section class="mainContainer">
      <%- include('../includes/header')%>

      <!-----------How it works-------->
      <div class="main howItWorks">
        <p>
          "Reading books constantly has proven to be a vital step to a better
          understanding of our lives. There are various reasons why we need to
          read constantly. We are not always in the same situation nor in the
          same mood.So, we need to make sure what we read is what we need at the
          moment. Take for example a student who is in the middle of her exams
          and wants to read a book in her spare time in order to stay motivated,
          it will not be a good choice for her to start reading a book which is
          about keeping one's business successfull. Becuase that's not what she
          needs at the time. She can read self-help books like, "Make Your Bed"
          or similar books. What we will do is going to help you choose a book
          and make sure you need that particular book. You can search by
          categories and get book recommendations from experts or add your own
          review"
        </p>
      </div>

      <!----- Footer ------->
      <footer>
        <div class="footer">
          <p class="copyright">Copyright...</p>
        </div>
      </footer>
    </section>
  </body>
</html>
