<html lang="en">
  <%- include('../includes/head',{title:'How It Works | NextBook'})%>
  <body>
    <section class="mainContainer">
      <header class="head">
        <nav class="head-nav">
          <div class="logo">
            <p class="logoText">NextBook</p>
          </div>
          <div>
            <ul class="nav-items">
              <li><a href="/">Home</a></li>
              <li>
                All Categories <i class="fa-solid fa-angle-down"></i>
                <div class="sub-menu">
                  <ul>
                    <li>Novel</li>
                    <li>Fiction</li>
                    <li>Self help</li>
                  </ul>
                </div>
              </li>
              <li><a href="addNew">Add new</a></li>
              <li>
                <a href="/books">All books</a>
              </li>
              <li><a href="howItWorks">How it works</a></li>

              <button class="btn">Log in</button>
            </ul>
          </div>
        </nav>
      </header>

      <!-----------How it works-------->
      <div class="main">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
          recusandae aperiam odit explicabo debitis dolore, fugit alias soluta.
          Harum reprehenderit illum nemo similique nesciunt dolorum sit placeat
          libero exercitationem earum ipsam velit officia beatae nobis odio
          officiis saepe voluptatem provident repellat recusandae magnam,
          commodi praesentium? Earum blanditiis ea esse animi? Qui porro minima
          alias architecto voluptatibus quisquam provident, doloremque cumque
          tempore. Laudantium laborum molestias libero? Quo eos dolorem
          voluptate quam? Quam officiis sit hic voluptas doloremque sunt iure
          voluptatem dolorum expedita aliquid ab voluptates, nam ea mollitia.
          Libero animi unde sit in aspernatur eaque quam deleniti quidem. Eum
          eius ipsa, rerum debitis esse eaque sed quidem soluta neque tempore
          beatae id fuga earum a maiores itaque, unde similique sunt, cumque
          dolorem! Provident consectetur aliquam sint repellat laborum harum
          voluptas obcaecati incidunt. Distinctio sunt, commodi repellat quia
          corporis asperiores? Laudantium est in, voluptatibus voluptas
          aspernatur debitis, aliquid corporis impedit odit quos, eum commodi
          molestiae? Eaque autem officia odit rem illum corrupti laborum tempora
          itaque nobis vitae, esse hic dolor quasi, error ipsa dolores a amet
          voluptates sed. Velit necessitatibus distinctio earum recusandae
          ratione aut rerum deserunt consectetur cupiditate repellendus eligendi
          natus doloremque ut ullam quisquam expedita, aliquam impedit, fugit
          consequuntur veniam!
        </p>
      </div>

      <!----- Footer ------->
      <footer>
        <div class="footer">
          <p class="copyright">Copyright...</p>
        </div>
      </footer>
    </section>
  </body>
</html>
